* {
  margin: 0%;
  padding: 0%;
}

nav {
  background-color: rgb(14, 12, 12);
}
nav .menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  margin: 0;
  padding: 0%;
}
nav .letramenu {
  color: rgb(236, 233, 22);
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
  border: solid 3px rgb(236, 233, 22);
  padding: 5px 10px;
}
nav .letramenu:hover {
  background-image: linear-gradient(to bottom, rgb(14, 12, 12), rgb(255, 179, 1));
}

h1 {
  text-align: center;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-textura-abstracta-grunge-azul-oscuro-amarillo_91128-1182.jpg?w=2000);
  background-size: cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: aliceblue;
  animation-name: efecto1;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  padding: 0;
  margin: 0;
}

h2 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: underline;
  color: rgb(255, 179, 1);
  background-color: rgb(14, 12, 12);
  font-size: 30px;
  margin-top: 50px;
  border: solid 3px rgb(255, 179, 1);
  padding: 5px 10px;
}

#h1index {
  text-align: center;
  background-image: url(https://img.freepik.com/vector-gratis/fondo-textura-abstracta-grunge-azul-oscuro-amarillo_91128-1182.jpg?w=2000);
  background-size: cover;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: aliceblue;
}

main {
  background-image: url(https://static.vecteezy.com/system/resources/previews/001/544/378/large_2x/black-elegant-criss-cross-background-free-vector.jpg);
  background-size: contain;
  color: aliceblue;
}
main p {
  font-size: larger;
}

.mainindex p {
  font-weight: bold;
}
.mainindex #sectionvideo {
  text-align: center;
  margin-top: 20px;
}
.mainindex #video {
  border: solid 5px rgb(255, 179, 1);
}
.mainindex .subtitulobio {
  color: rgb(236, 233, 22);
  font-size: 25px;
}
.mainindex #ultimop {
  margin-bottom: 0%;
}

footer {
  background-color: rgb(14, 12, 12);
  background-image: linear-gradient(to bottom, rgb(14, 12, 12) 79%, rgb(255, 179, 1));
}
footer .menufooter {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  padding: 0;
  margin: 0;
}
footer .letrafooter {
  color: rgb(255, 179, 1);
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
footer .hoverfooter:hover {
  transition: all 1s;
  transform: scale(1.5, 1.5);
}

.maingaleria img {
  border: solid 5px rgb(255, 179, 1);
  margin-top: 50px;
}
.maingaleria .familiaft1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.maingaleria .familiaft2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}
.maingaleria .artistaft1 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
}
.maingaleria .artistaft2 {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}

.mainalbum {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 530px;
  grid-template-areas: "mayoresexitos sencillos" "albums albums";
  grid-column-gap: 30px;
}
.mainalbum h2 {
  margin-bottom: 20px;
}
.mainalbum .mayoresexitos {
  grid-area: mayoresexitos;
}
.mainalbum .section1 ol {
  height: 1170px;
  overflow: auto;
}
.mainalbum .albums {
  grid-area: albums;
}
.mainalbum .sencillos {
  grid-area: sencillos;
}

.mainnoti {
  border: solid 5px rgb(255, 179, 1);
}
.mainnoti .negro {
  background-color: #37353b;
}

/*# sourceMappingURL=style.css.map */
